.columns{
    display: flex;
    height: 400px;
    max-width: 300px;
    align-items: stretch;
    border: 1px solid black;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch  ;
    justify-content: flex-end;
}
.bar{
    border-right: 1px solid white;

}
.female{
    background: rgb(188, 188, 48);

}
.male{
    background: rgb(63, 141, 171);
}