body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .jumbotron {
    background-color: #3775f1;
    padding: 20px;
    text-align: center;
    color: white;
  }
  nav {
    background-color: #343a40;
    color: white;
    padding: px;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
  }
  nav a:hover {
    background-color: #575757;
  }
  .row {
    display: flex;
    margin: 20px 0;
  }
  .col {
    padding: 15px;
  }
  .col-3 {
    width: 40%;
    background-color: rgba(250, 235, 215, 0.63);
    flex:1;
    flex-direction: column;
  }
  .col-6 {
    width: 60%;
    flex-direction: column;
    flex: 2;
  }
  .fakeimg {
    height: 200px;
    background: #aaa;
    margin-bottom: 10px;

  }
  .footer {
    background-color: orangered;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .fakeimgh {
     
    height: 20px;
    background: #aaa;
    margin-bottom: 10px;
    padding: 10px;

  }
  li{
    list-style: none;
  }
  ul{
    padding: 0;
  }