
.row{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.label{
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}
.row.dish{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pasta{
    background-color: blueviolet;
}
.pizza{
    background-color: aqua;
}
.burri{
    background-color: brown;
}
.chao{
    background-color: yellow;
}