.container{
    background-color: white;
    font-size: large;
}
.cla{
    
    background-color: rgba(0, 0, 0, 0.653);
    display: flex;
    color: white;
}
.cla-item{
    list-style: none;
    margin: 0 20px;
    flex-direction: row;
    padding: 10px;
    display: inline-block;

}
.list2{
    padding-left: 0;
    margin: auto 15px;
}
/*ô tìm kiếm*/
.search{
    padding: 0 4px;
    margin: 20px auto;
    position: relative;
    
}
.search input{
    padding: 10px 40px 10px 40px; /* Adjust padding for the icon space */

}
.search i{
    position: absolute;
    left: 20px;
    top: 20%;
    margin:auto  ;
    transform: translate(-50%);
    font-size: 24px;

}

/*ảnh*/
.imgea{
    width: auto;
    height: auto;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    max-width: 1200px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.imgb{
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.imgb img{
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width:458px) {
    .container{
        align-items: center;
        flex-direction: column;
    }
    .imgea{
        width: 80%; 
        margin-bottom: 20px;
        grid-template-columns: 1fr;
    }
    
}